#logo {
display:block;
height: 160px;
margin:200px auto auto auto;


}
 
.search{
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 520px;
    background-color: #fff;
  
    
}
#input {
  background-color: #fff;
  border: 1px solid rgb(185,185,185);
  border-radius: 1px;
  border-top-color: rgb(160,160,160);
  box-sizing:  border-box;
  cursor: text;
  display: inline-block;
  font: 18px arial,sans-serif;
  height: 36px;
  line-height: 36px;
  max-width: 618px;
  position: relative;
  width: 100%;
  vertical-align: middle;
  margin: auto; 
  background-image:url(http://1.bp.blogspot.com/-lINg3E20_4Y/VebwdAy_MaI/AAAAAAAAFJU/8Jg2H-3-_cc/s1600/Microphone.png);   
  background-position:98% 50% ;   
  background-repeat:no-repeat; 
  background-size: 1em;
  padding:8px;
    
}





    
    


    